@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: 202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0%;
    padding: 0%;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: #f6f6f9;
    user-select: none;
    overflow-x: hidden;
    color: #363949;
}

a {
    color: #363949;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow-x: hidden;
}

.text-muted {
    color: #7d8da1;
}

p {
    color: #677483;
}

b {
    color: #3f3949;
}

.primary {
    color: #7380ec;
}

.danger {
    color: #ff7782;
}

.success {
    color: #41f1b6;
}

.warning {
    color: #ffbb55;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 18rem auto 23rem;
}

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside a {
    display: flex;
    color: #7d8da1;
    margin: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: rgba(132, 139, 200, .018);
    color: #7380ec;
    margin-left: 0;
}

aside .sidebar a .active:before {
    content: "";
    width: 6px;
    height: 100%;
    background-color: #7380ec;
}

aside .sidebar a.active span {
    color: #7380ec;
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: #7380ec;
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background: #ff7782;
    color: #fff;
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 0.4rem;
}

main {
    margin: 1.4rem;
}

main .date {
    display: inline-block;
    background: rgba(132, 139, 200, .018);
    border-radius: 0.4rem;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type='date'] {
    background: transparent;
    color: #363949;
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem
}

main .insights>div {
    background: #fff;
    padding: 1.8rem;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: 0 2rem 3rem lightgrey;
    transition: all 300ms ease;
}

main .insights>div:hover {
    box-shadow: none;
}

main .insights>div span {
    background: #7380ec;
    padding: 0.5rem;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
}

main .insights>div.expenses span {
    background-color: #ff7782;
}

main .insights>div.income span {
    background-color: #41f1b6;
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: #7380ec;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 400;
}

main .insights .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: 29px;*/
}

main.insights small {
    margin-top: 1.3rem;
    display: block;
}

main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;
}

main .recent-orders table {
    background: #fff;
    width: 100%;
    border-radius: 2rem;
    text-align: center;
    padding: 1.8rem;
    box-shadow: 0 2rem 3rem lightgrey;
    transition: all 300ms ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid black;
    color: #677483;
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: #7380ec;
}

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: rgba(132, 139, 200, .018);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: #7380ec;
    color: #fff;
    border-radius: 0.4rem;
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right .recent-updates {
    margin-top: 1rem;
}

.right .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
    background: #fff;
    padding: 1.8rem;
    border-radius: 2rem;
    box-shadow: 0 2rem 3rem lightgrey;
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2 {
    margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
    background: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem 1.8rem;
    border-radius: 1.2rem;
    box-shadow: 0 2rem 3rem lightgrey;
    transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
    box-shadow: none;
}

.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon {
    padding: 0.6rem;
    color: #fff;
    border-radius: 50%;
    display: flex;
    background: red;
}

.right .sales-analytics .item.offline .icon {
    background: #ff7782;
}

.right .sales-analytics .item.customers .icon {
    background: #41f1b6;
}

.right .add-product {
    background: transparent;
    border: 2px dashed #7380ec;
    color: #7380ec;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.right .add-product div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .add-product div h3 {
    font-weight: 600;
}

@media screen and (max-width:1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .logo h2 {
        display: none;
    }
    aside .sidebar h3 {
        display: none;
    }
    aside .sidebar a {
        width: 5.6rem;
    }
    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }
    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }
    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }
    main .recent-orders table {
        width: 83vw;
    }
    main table thead tr th:last-child,
    main table thead tr th:first-child {
        display: none;
    }
    main table tbody tr td:last-child,
    main table tbody tr td:first-child {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }
    aside {
        position: fixed;
        left: -100%;
        background: #fff;
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem lightgrey;
        height: 100vh;
        padding-right: 1.8rem;
        display: none;
        animation: showmenu 400ms ease forwards;
    }
    @keyframes showmenu {
        to {
            left: 0;
        }
    }
    aside .logo {
        margin-left: 1rem;
    }
    aside .logo h2 {
        display: inline;
    }
    aside .sidebar h2 {
        display: inline;
    }
    aside .sidebar h3 {
        display: inline;
    }
    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }
    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }
    aside .close {
        display: inline-block;
        cursor: pointer;
    }
    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }
    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .recent-orders table {
        width: 100%;
        margin: 0;
    }
    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }
    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: #fff;
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem lightgrey;
    }
    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }
    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: #363949;
        left: 1rem;
    }
    .right .top button span {
        font-size: 2rem;
    } 
}

